In [1]:
import numpy as np
import pandas as pd

In [2]:
#script内を実行する
from scripts import increase_dataset as s1

In [3]:
from scripts import create_mcs_csv as s2

In [4]:
from scripts import create_feature as s3

In [14]:
# 必要なデータをインポートする
exp_data = pd.read_csv("./human_exp/exp_data.csv")
wordnet_data = pd.read_csv("./dataset/wordnet.csv")
data = pd.read_csv("./dataset/dataset_relation.csv")

In [18]:
#被験者用データと結合
marged_data = pd.merge(exp_data,data)

,class_a,class_b,relation,ans_yamasaki,ans_ueda,ans_daisuke,ans_hosomi,ans_kazuma,ans_sugi,type,title,source
0,racket,ball,k,k,k,k,k,k,h1,program,brockbreak,swing_game
1,block,ball,k,k,k,k,h2,s2,k,program,brockbreak,swing_game
2,player,beam,k,h2,s2,k,s2,s2,k,program,invador,swing_game
3,alien,shot,k,k,s2,k,s2,k,k,program,invador,swing_game
4,bar_block,block,h1,s1,h1,h1,h1,h2,h1,program,tetris,swing_game
...,...,...,...,...,...,...,...,...,...,...,...,...
255,brake_pedal,pedal,h1,h1,h1,h1,h1,h1,h1,analyse,auto_system1,me
256,driver,automobile,k,k,k,s1,h2,k,k,analyse,auto_system2,me
257,pedal,automobile,s1,h1,s1,s1,k,s1,s1,analyse,auto_system2,me
258,automobile_engine,automobile,s1,h1,s1,s1,s1,s1,s1,analyse,auto_system2,me
259,speedometer,automobile,s1,h1,s1,s1,k,s1,s1,analyse,auto_system2,me

In [6]:
#dataのかさまし
data1 = s1.execute(data)

In [7]:
#mcspickle作成
s2.execute(wordnet_data)

In [ ]:
s3.execute(data1,wordnet_data)